@font-face {
    font-family: TheGreatestFont;
    src: url(TheGreatestFont-Z7dl.ttf);
}

body{
    font-family: TheGreatestFont;
    background-color: black;
    background: linear-gradient(180deg, #02030A, #0A0F1E, #161B33);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tiAmoStar{
    visibility: hidden;
}

#container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100svw;
    height: 100svh;
    position: relative;
    z-index: 0;
}

#constellationCanvas{
    position: absolute;
    margin: 0;
    padding: 0;
    animation: moveStars linear infinite;
    width: 100svw;
    height: 100svh;
}

#text{
    color: white;
    width: 100svw;
    position: absolute;
    top: 20svh;
    text-align: center;
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
}


.star-container{
    position: absolute;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}
.star{
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;
    animation: shining 2s infinite ease-in-out alternate forwards;
}

@keyframes shining{
    0% {width: 100%;height: 100%}
    100% {width: 20%;height: 20%;}
}
@keyframes moveStars {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50svh)
        translateX(-50svw);
    }
}
@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}
.pausedAnim{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}
.fastAnim{
    animation-duration: 200ms;
}






#introCard{
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: #292929;
    z-index: 10;
    text-align: center;

    #spanContainer{
        margin: 20svh auto;
        width: 70%;
        span{
            color: white;
            font-size: 1.5em;
        }
    }

    img{
        position: fixed;
        width: 25%;
    }
    #baloon{
        top: 60svh;
        left: 13svw;
    }
    #untiedShoes{
        top: 60svh;
        right: 13svw;
    }
}